body{background-image: url(../img/IMG_0378.jpg);

   background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
h1 {text-align: center;
  
  color: blue; }

h2 {color: blue; }
